{% load custom %}
{% block body %}
    <head>
        <style>
    .bg-dark text-whitestyle{
      font-size: 15px !important;
    }
    .table table-bordered{
      border-spacing: 0;
      border-collapse: collapse; 
      margin-top: 50px;
    }
    .table table-values{
      font-size:large; 
      color: #0040ff;
    }
    
        </style>
    </head>
    <div>
        <center>
            <h1>
                <u>WEEKLY SUMMARY SHEET OF INSPECTION/USER FEEDBACK REGISTER</u>
            </h1>
        </center>
        <table style="width: 100%">
            <tr style="width: 100%">
                <td style="width: 15%">
                    <b>Name of work:</b>
                </td>
                <td style="width: 85%">
                    <b>{{ station.name_of_work }}</b>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Cleaning Contract by:</b>
                </td>
                <td>
                    <b> {{ station.contract_by }}</b>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Contract No.:</b>
                </td>
                <td>
                    <b>{{ station.contract_no }}</b>
                </td>
            </tr>
        </table>
        <table id="table"
               class="table table-bordered"
               cellspacing="0"
               width="100%"
               align="center"
               border=".5">
            <thead>
                <tr style="padding: 7px">
                    <th scope="col" rowspan="1">Weekly Period</th>
                    <th scope="col" rowspan="1">Inspection Feedback</th>
                    <th scope="col" rowspan="1">
                        No. Of Inspection/User
                        <br />
                        Feedbacks received
                    </th>
                    <th scope="col" rowspan="1">Inspection/User Feedback weightage</th>
                    <th scope="col" rowspan="1">Scores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3" style="text-align: center;">15-21st {{ month_name }}</td>
                    <td style="padding: 3px">
                        <center>Excellent</center>
                    </td>
                    <td class="table table-values">
                        <center> {{ weekly_feedback_counts.2.excellent_count }}</center>
                    </td>
                    <td>
                        <center>100%</center>
                    </td>
                    <td class="table table-values">
                        <center>{{ weekly_feedback_counts.2.excellent_count }}</center>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 3px">
                        <center>Ok</center>
                    </td>
                    <td class="table table-values">
                        <center> {{ weekly_feedback_counts.2.ok_count }}</center>
                    </td>
                    <td>
                        <center>90%</center>
                    </td>
                    <td class="table table-values">
                        <center>{{ weekly_feedback_counts.2.avg_ok }}</center>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 3px">
                        <center>Poor</center>
                    </td>
                    <td class="table table-values">
                        <center> {{ weekly_feedback_counts.2.poor_count }}</center>
                    </td>
                    <td>
                        <center>0%</center>
                    </td>
                    <td class="table table-values">
                        <center>0</center>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 1px; font-size: 13px">
                        <center>Total</center>
                    </td>
                    <td class="table table-values">
                        <center>{{ weekly_feedback_counts.2.total_feedbacks }}</center>
                    </td>
                    <td></td>
                    <td class="table table-values">
                        <center>{{ weekly_feedback_counts.2.total_avg }}</center>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding: 1px; font-size: 13px">
                        Weekly User/Inspection score achieved in Percentage = total
                        scorex100/total no. of feedback
                    </td>
                    <td class="table table-values">
                        <center>{{ weekly_feedback_counts.2.avg_feedback }}</center>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="margin-top: 100px">
            <tr>
                <td>
                    <h2>Signature of Concerning /CHI/SSE/JE</h2>
                </td>
                <td>
                    <h2>Signature of Contractor/Authorized Signatory of contractor</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="margin-left: 40px">(Buyer Representative)</h2>
                </td>
                <td>
                    <h2>
                        <center>(User Representative)</center>
                    </h2>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <table id="table"
               class="table table-bordered"
               cellspacing="0"
               width="100%"
               align="center"
               border=".5">
            <thead class="bg-dark text-white">
                <tr style="padding: 7px">
                    <th scope="col" rowspan="1">Weekly Period</th>
                    <th scope="col" rowspan="1">Inspection Feedback</th>
                    <th scope="col" rowspan="1">
                        No. Of Inspection/user
                        <br />
                        Feedbacks received
                    </th>
                    <th scope="col" rowspan="1">Inspection/use Feedback weightage</th>
                    <th scope="col" rowspan="1">Scores</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="3" style="text-align: center;">22-28th {{ month_name }}</td>
                    <td style="padding: 3px">
                        <center>Excellent</center>
                    </td>
                    <td class="table table-values">
                        <center> {{ weekly_feedback_counts.3.excellent_count }}</center>
                    </td>
                    <td>
                        <center>100%</center>
                    </td>
                    <td class="table table-values">
                        <center>{{ weekly_feedback_counts.3.excellent_count }}</center>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 3px">
                        <center>Ok</center>
                    </td>
                    <td class="table table-values">
                        <center> {{ weekly_feedback_counts.3.ok_count }}</center>
                    </td>
                    <td>
                        <center>90%</center>
                    </td>
                    <td class="table table-values">
                        <center>{{ weekly_feedback_counts.3.avg_ok }}</center>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 3px">
                        <center>Poor</center>
                    </td>
                    <td class="table table-values">
                        <center> {{ weekly_feedback_counts.3.poor_count }}</center>
                    </td>
                    <td>
                        <center>0%</center>
                    </td>
                    <td class="table table-values">
                        <center>0</center>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 1px; font-size: 13px">
                        <center>Total</center>
                    </td>
                    <td class="table table-values">
                        <center>{{ weekly_feedback_counts.3.total_feedbacks }}</center>
                    </td>
                    <td></td>
                    <td class="table table-values">
                        <center>{{ weekly_feedback_counts.3.total_avg }}</center>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding: 1px; font-size: 13px">
                        Weekly User/Inspection score achieved in Percentage = total
                        scorex100/total no. of feedback
                    </td>
                    <td class="table table-values">
                        <center>{{ weekly_feedback_counts.3.avg_feedback }}</center>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="margin-top: 100px">
            <tr>
                <td>
                    <h2>Signature of Concerning /CHI/SSE/JE</h2>
                </td>
                <td>
                    <h2>Signature of Contractor/Authorized Signatory of contractor</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="margin-left: 40px">(Buyer Representative)</h2>
                </td>
                <td>
                    <h2>
                        <center>(User Representative)</center>
                    </h2>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
